.color-background {
  color: #FFF2DA !important; }

.color-background-bg, body, html {
  background-color: #FFF2DA !important; }

.color-background-bd {
  border: 1px solid white;
  border-color: #FFF2DA !important; }

.color-background-hover:hover {
  color: #FFF2DA !important; }

.color-background-hover-bg:hover {
  background-color: #FFF2DA !important; }

.color-background-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFF2DA !important; }

.color-text, body, html, .p, .texto {
  color: #001017 !important; }

.color-text-bg {
  background-color: #001017 !important; }

.color-text-bd {
  border: 1px solid white;
  border-color: #001017 !important; }

.color-text-hover:hover {
  color: #001017 !important; }

.color-text-hover-bg:hover {
  background-color: #001017 !important; }

.color-text-hover-bd:hover {
  border: 1px solid white;
  border-color: #001017 !important; }

.color-primary-0 {
  color: #450016 !important; }

.color-primary-0-bg {
  background-color: #450016 !important; }

.color-primary-0-bd {
  border: 1px solid white;
  border-color: #450016 !important; }

.color-primary-0-hover:hover {
  color: #450016 !important; }

.color-primary-0-hover-bg:hover {
  background-color: #450016 !important; }

.color-primary-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #450016 !important; }

.color-primary-1 {
  color: #871439 !important; }

.color-primary-1-bg {
  background-color: #871439 !important; }

.color-primary-1-bd {
  border: 1px solid white;
  border-color: #871439 !important; }

.color-primary-1-hover:hover {
  color: #871439 !important; }

.color-primary-1-hover-bg:hover {
  background-color: #871439 !important; }

.color-primary-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #871439 !important; }

.color-primary-2 {
  color: #660020 !important; }

.color-primary-2-bg {
  background-color: #660020 !important; }

.color-primary-2-bd {
  border: 1px solid white;
  border-color: #660020 !important; }

.color-primary-2-hover:hover {
  color: #660020 !important; }

.color-primary-2-hover-bg:hover {
  background-color: #660020 !important; }

.color-primary-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #660020 !important; }

.color-primary-3 {
  color: #28000D !important; }

.color-primary-3-bg {
  background-color: #28000D !important; }

.color-primary-3-bd {
  border: 1px solid white;
  border-color: #28000D !important; }

.color-primary-3-hover:hover {
  color: #28000D !important; }

.color-primary-3-hover-bg:hover {
  background-color: #28000D !important; }

.color-primary-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #28000D !important; }

.color-primary-4 {
  color: #0E0005 !important; }

.color-primary-4-bg {
  background-color: #0E0005 !important; }

.color-primary-4-bd {
  border: 1px solid white;
  border-color: #0E0005 !important; }

.color-primary-4-hover:hover {
  color: #0E0005 !important; }

.color-primary-4-hover-bg:hover {
  background-color: #0E0005 !important; }

.color-primary-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #0E0005 !important; }

.color-secondary-1-0 {
  color: #4C0006 !important; }

.color-secondary-1-0-bg {
  background-color: #4C0006 !important; }

.color-secondary-1-0-bd {
  border: 1px solid white;
  border-color: #4C0006 !important; }

.color-secondary-1-0-hover:hover {
  color: #4C0006 !important; }

.color-secondary-1-0-hover-bg:hover {
  background-color: #4C0006 !important; }

.color-secondary-1-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #4C0006 !important; }

.color-secondary-1-1, #noticias-especificas-de-micrositio-n {
  color: #94161F !important; }

.color-secondary-1-1-bg {
  background-color: #94161F !important; }

.color-secondary-1-1-bd {
  border: 1px solid white;
  border-color: #94161F !important; }

.color-secondary-1-1-hover:hover {
  color: #94161F !important; }

.color-secondary-1-1-hover-bg:hover {
  background-color: #94161F !important; }

.color-secondary-1-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #94161F !important; }

.color-secondary-1-2 {
  color: #6F0008 !important; }

.color-secondary-1-2-bg {
  background-color: #6F0008 !important; }

.color-secondary-1-2-bd {
  border: 1px solid white;
  border-color: #6F0008 !important; }

.color-secondary-1-2-hover:hover {
  color: #6F0008 !important; }

.color-secondary-1-2-hover-bg:hover {
  background-color: #6F0008 !important; }

.color-secondary-1-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #6F0008 !important; }

.color-secondary-1-3 {
  color: #2B0003 !important; }

.color-secondary-1-3-bg {
  background-color: #2B0003 !important; }

.color-secondary-1-3-bd {
  border: 1px solid white;
  border-color: #2B0003 !important; }

.color-secondary-1-3-hover:hover {
  color: #2B0003 !important; }

.color-secondary-1-3-hover-bg:hover {
  background-color: #2B0003 !important; }

.color-secondary-1-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #2B0003 !important; }

.color-secondary-1-4 {
  color: #100001 !important; }

.color-secondary-1-4-bg {
  background-color: #100001 !important; }

.color-secondary-1-4-bd {
  border: 1px solid white;
  border-color: #100001 !important; }

.color-secondary-1-4-hover:hover {
  color: #100001 !important; }

.color-secondary-1-4-hover-bg:hover {
  background-color: #100001 !important; }

.color-secondary-1-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #100001 !important; }

.color-secondary-2-0 {
  color: #400022 !important; }

.color-secondary-2-0-bg {
  background-color: #400022 !important; }

.color-secondary-2-0-bd {
  border: 1px solid white;
  border-color: #400022 !important; }

.color-secondary-2-0-hover:hover {
  color: #400022 !important; }

.color-secondary-2-0-hover-bg:hover {
  background-color: #400022 !important; }

.color-secondary-2-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #400022 !important; }

.color-secondary-2-1 {
  color: #7C124A !important; }

.color-secondary-2-1-bg {
  background-color: #7C124A !important; }

.color-secondary-2-1-bd {
  border: 1px solid white;
  border-color: #7C124A !important; }

.color-secondary-2-1-hover:hover {
  color: #7C124A !important; }

.color-secondary-2-1-hover-bg:hover {
  background-color: #7C124A !important; }

.color-secondary-2-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #7C124A !important; }

.color-secondary-2-2 {
  color: #5D0031 !important; }

.color-secondary-2-2-bg {
  background-color: #5D0031 !important; }

.color-secondary-2-2-bd {
  border: 1px solid white;
  border-color: #5D0031 !important; }

.color-secondary-2-2-hover:hover {
  color: #5D0031 !important; }

.color-secondary-2-2-hover-bg:hover {
  background-color: #5D0031 !important; }

.color-secondary-2-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #5D0031 !important; }

.color-secondary-2-3 {
  color: #240013 !important; }

.color-secondary-2-3-bg {
  background-color: #240013 !important; }

.color-secondary-2-3-bd {
  border: 1px solid white;
  border-color: #240013 !important; }

.color-secondary-2-3-hover:hover {
  color: #240013 !important; }

.color-secondary-2-3-hover-bg:hover {
  background-color: #240013 !important; }

.color-secondary-2-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #240013 !important; }

.color-secondary-2-4 {
  color: #0D0007 !important; }

.color-secondary-2-4-bg {
  background-color: #0D0007 !important; }

.color-secondary-2-4-bd {
  border: 1px solid white;
  border-color: #0D0007 !important; }

.color-secondary-2-4-hover:hover {
  color: #0D0007 !important; }

.color-secondary-2-4-hover-bg:hover {
  background-color: #0D0007 !important; }

.color-secondary-2-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #0D0007 !important; }

.color-tertiary-1-0, a:hover, a:focus {
  color: #031334 !important; }

.color-tertiary-1-0-bg {
  background-color: #031334 !important; }

.color-tertiary-1-0-bd {
  border: 1px solid white;
  border-color: #031334 !important; }

.color-tertiary-1-0-hover:hover {
  color: #031334 !important; }

.color-tertiary-1-0-hover-bg:hover {
  background-color: #031334 !important; }

.color-tertiary-1-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #031334 !important; }

.color-tertiary-1-1 {
  color: #183165 !important; }

.color-tertiary-1-1-bg {
  background-color: #183165 !important; }

.color-tertiary-1-1-bd {
  border: 1px solid white;
  border-color: #183165 !important; }

.color-tertiary-1-1-hover:hover {
  color: #183165 !important; }

.color-tertiary-1-1-hover-bg:hover {
  background-color: #183165 !important; }

.color-tertiary-1-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #183165 !important; }

.color-tertiary-1-2 {
  color: #081E4C !important; }

.color-tertiary-1-2-bg {
  background-color: #081E4C !important; }

.color-tertiary-1-2-bd {
  border: 1px solid white;
  border-color: #081E4C !important; }

.color-tertiary-1-2-hover:hover {
  color: #081E4C !important; }

.color-tertiary-1-2-hover-bg:hover {
  background-color: #081E4C !important; }

.color-tertiary-1-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #081E4C !important; }

.color-tertiary-1-3, a:visited {
  color: #010A1E !important; }

.color-tertiary-1-3-bg {
  background-color: #010A1E !important; }

.color-tertiary-1-3-bd {
  border: 1px solid white;
  border-color: #010A1E !important; }

.color-tertiary-1-3-hover:hover {
  color: #010A1E !important; }

.color-tertiary-1-3-hover-bg:hover {
  background-color: #010A1E !important; }

.color-tertiary-1-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #010A1E !important; }

.color-tertiary-1-4 {
  color: #00030B !important; }

.color-tertiary-1-4-bg {
  background-color: #00030B !important; }

.color-tertiary-1-4-bd {
  border: 1px solid white;
  border-color: #00030B !important; }

.color-tertiary-1-4-hover:hover {
  color: #00030B !important; }

.color-tertiary-1-4-hover-bg:hover {
  background-color: #00030B !important; }

.color-tertiary-1-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #00030B !important; }

.color-tertiary-2-0, a {
  color: #4E4100 !important; }

.color-tertiary-2-0-bg {
  background-color: #4E4100 !important; }

.color-tertiary-2-0-bd {
  border: 1px solid white;
  border-color: #4E4100 !important; }

.color-tertiary-2-0-hover:hover {
  color: #4E4100 !important; }

.color-tertiary-2-0-hover-bg:hover {
  background-color: #4E4100 !important; }

.color-tertiary-2-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #4E4100 !important; }

.color-tertiary-2-1 {
  color: #988216 !important; }

.color-tertiary-2-1-bg {
  background-color: #988216 !important; }

.color-tertiary-2-1-bd {
  border: 1px solid white;
  border-color: #988216 !important; }

.color-tertiary-2-1-hover:hover {
  color: #988216 !important; }

.color-tertiary-2-1-hover-bg:hover {
  background-color: #988216 !important; }

.color-tertiary-2-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #988216 !important; }

.color-tertiary-2-2 {
  color: #725F00 !important; }

.color-tertiary-2-2-bg {
  background-color: #725F00 !important; }

.color-tertiary-2-2-bd {
  border: 1px solid white;
  border-color: #725F00 !important; }

.color-tertiary-2-2-hover:hover {
  color: #725F00 !important; }

.color-tertiary-2-2-hover-bg:hover {
  background-color: #725F00 !important; }

.color-tertiary-2-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #725F00 !important; }

.color-tertiary-2-3 {
  color: #2D2500 !important; }

.color-tertiary-2-3-bg {
  background-color: #2D2500 !important; }

.color-tertiary-2-3-bd {
  border: 1px solid white;
  border-color: #2D2500 !important; }

.color-tertiary-2-3-hover:hover {
  color: #2D2500 !important; }

.color-tertiary-2-3-hover-bg:hover {
  background-color: #2D2500 !important; }

.color-tertiary-2-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #2D2500 !important; }

.color-tertiary-2-4, #noticias-especificas-de-micrositio-n {
  color: #100D00 !important; }

.color-tertiary-2-4-bg {
  background-color: #100D00 !important; }

.color-tertiary-2-4-bd {
  border: 1px solid white;
  border-color: #100D00 !important; }

.color-tertiary-2-4-hover:hover {
  color: #100D00 !important; }

.color-tertiary-2-4-hover-bg:hover {
  background-color: #100D00 !important; }

.color-tertiary-2-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #100D00 !important; }

.color-complement-0 {
  color: #214600 !important; }

.color-complement-0-bg {
  background-color: #214600 !important; }

.color-complement-0-bd {
  border: 1px solid white;
  border-color: #214600 !important; }

.color-complement-0-hover:hover {
  color: #214600 !important; }

.color-complement-0-hover-bg:hover {
  background-color: #214600 !important; }

.color-complement-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #214600 !important; }

.color-complement-1 {
  color: #4B8814 !important; }

.color-complement-1-bg {
  background-color: #4B8814 !important; }

.color-complement-1-bd {
  border: 1px solid white;
  border-color: #4B8814 !important; }

.color-complement-1-hover:hover {
  color: #4B8814 !important; }

.color-complement-1-hover-bg:hover {
  background-color: #4B8814 !important; }

.color-complement-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #4B8814 !important; }

.color-complement-2 {
  color: #306600 !important; }

.color-complement-2-bg {
  background-color: #306600 !important; }

.color-complement-2-bd {
  border: 1px solid white;
  border-color: #306600 !important; }

.color-complement-2-hover:hover {
  color: #306600 !important; }

.color-complement-2-hover-bg:hover {
  background-color: #306600 !important; }

.color-complement-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #306600 !important; }

.color-complement-3 {
  color: #132800 !important; }

.color-complement-3-bg {
  background-color: #132800 !important; }

.color-complement-3-bd {
  border: 1px solid white;
  border-color: #132800 !important; }

.color-complement-3-hover:hover {
  color: #132800 !important; }

.color-complement-3-hover-bg:hover {
  background-color: #132800 !important; }

.color-complement-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #132800 !important; }

.color-complement-4 {
  color: #070E00 !important; }

.color-complement-4-bg {
  background-color: #070E00 !important; }

.color-complement-4-bd {
  border: 1px solid white;
  border-color: #070E00 !important; }

.color-complement-4-hover:hover {
  color: #070E00 !important; }

.color-complement-4-hover-bg:hover {
  background-color: #070E00 !important; }

.color-complement-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #070E00 !important; }

.color-neutral-0 {
  color: #94827D !important; }

.color-neutral-0-bg {
  background-color: #94827D !important; }

.color-neutral-0-bd {
  border: 1px solid white;
  border-color: #94827D !important; }

.color-neutral-0-hover:hover {
  color: #94827D !important; }

.color-neutral-0-hover-bg:hover {
  background-color: #94827D !important; }

.color-neutral-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #94827D !important; }

.color-neutral-1 {
  color: #E9DDDA !important; }

.color-neutral-1-bg {
  background-color: #E9DDDA !important; }

.color-neutral-1-bd {
  border: 1px solid white;
  border-color: #E9DDDA !important; }

.color-neutral-1-hover:hover {
  color: #E9DDDA !important; }

.color-neutral-1-hover-bg:hover {
  background-color: #E9DDDA !important; }

.color-neutral-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #E9DDDA !important; }

.color-neutral-2 {
  color: #BBABA6 !important; }

.color-neutral-2-bg {
  background-color: #BBABA6 !important; }

.color-neutral-2-bd {
  border: 1px solid white;
  border-color: #BBABA6 !important; }

.color-neutral-2-hover:hover {
  color: #BBABA6 !important; }

.color-neutral-2-hover-bg:hover {
  background-color: #BBABA6 !important; }

.color-neutral-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #BBABA6 !important; }

.color-neutral-3 {
  color: #6B5B55 !important; }

.color-neutral-3-bg {
  background-color: #6B5B55 !important; }

.color-neutral-3-bd {
  border: 1px solid white;
  border-color: #6B5B55 !important; }

.color-neutral-3-hover:hover {
  color: #6B5B55 !important; }

.color-neutral-3-hover-bg:hover {
  background-color: #6B5B55 !important; }

.color-neutral-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #6B5B55 !important; }

.color-neutral-4 {
  color: #40302B !important; }

.color-neutral-4-bg {
  background-color: #40302B !important; }

.color-neutral-4-bd {
  border: 1px solid white;
  border-color: #40302B !important; }

.color-neutral-4-hover:hover {
  color: #40302B !important; }

.color-neutral-4-hover-bg:hover {
  background-color: #40302B !important; }

.color-neutral-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #40302B !important; }

.color-accent-0 {
  color: #ED004C !important; }

.color-accent-0-bg {
  background-color: #ED004C !important; }

.color-accent-0-bd {
  border: 1px solid white;
  border-color: #ED004C !important; }

.color-accent-0-hover:hover {
  color: #ED004C !important; }

.color-accent-0-hover-bg:hover {
  background-color: #ED004C !important; }

.color-accent-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #ED004C !important; }

.color-accent-1 {
  color: #FE0756 !important; }

.color-accent-1-bg {
  background-color: #FE0756 !important; }

.color-accent-1-bd {
  border: 1px solid white;
  border-color: #FE0756 !important; }

.color-accent-1-hover:hover {
  color: #FE0756 !important; }

.color-accent-1-hover-bg:hover {
  background-color: #FE0756 !important; }

.color-accent-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #FE0756 !important; }

.color-accent-2 {
  color: #FF0051 !important; }

.color-accent-2-bg {
  background-color: #FF0051 !important; }

.color-accent-2-bd {
  border: 1px solid white;
  border-color: #FF0051 !important; }

.color-accent-2-hover:hover {
  color: #FF0051 !important; }

.color-accent-2-hover-bg:hover {
  background-color: #FF0051 !important; }

.color-accent-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #FF0051 !important; }

.color-accent-3 {
  color: #CE0042 !important; }

.color-accent-3-bg {
  background-color: #CE0042 !important; }

.color-accent-3-bd {
  border: 1px solid white;
  border-color: #CE0042 !important; }

.color-accent-3-hover:hover {
  color: #CE0042 !important; }

.color-accent-3-hover-bg:hover {
  background-color: #CE0042 !important; }

.color-accent-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #CE0042 !important; }

.color-accent-4 {
  color: #A10034 !important; }

.color-accent-4-bg {
  background-color: #A10034 !important; }

.color-accent-4-bd {
  border: 1px solid white;
  border-color: #A10034 !important; }

.color-accent-4-hover:hover {
  color: #A10034 !important; }

.color-accent-4-hover-bg:hover {
  background-color: #A10034 !important; }

.color-accent-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #A10034 !important; }

/*# sourceMappingURL=micrositio-3.css.map */
