$lista-colores: (

   fondo $fondo,

   texto $texto,

   primario $primario,
   primario1 $primario1,
   primario2 $primario2,
   primario3 $primario3,
   primario4 $primario4,

   secundario $secundario,
   secundario1 $secundario1,
   secundario2 $secundario2,
   secundario3 $secundario3,
   secundario4 $secundario4,

   terciario $terciario,
   terciario1 $terciario1,
   terciario2 $terciario2,
   terciario3 $terciario3,
   terciario4 $terciario4,

   complementario $complementario,
   complementario1 $complementario1,
   complementario2 $complementario2,
   complementario3 $complementario3,
   complementario4 $complementario4,

   neutral $neutral,
   neutral1 $neutral1,
   neutral2 $neutral2,
   neutral3 $neutral3,
   neutral4 $neutral4,

   acento $acento,
   acento $acento1,
   acento $acento2,
   acento $acento3,
   acento $acento4,

);


@each $value in $lista-colores {

	   .color-#{nth($value, 1)} {
			& {
				color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-bg {
			& {
				background-color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-bd {
			& {
				border: 1px solid white;
				border-color: nth($value, 2) !important;
			}
	   }

	   .color-#{nth($value, 1)}-hover:hover {
			& {
				color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-hover-bg:hover {
			& {
				background-color: nth($value, 2) !important;
			}
	   }
	   .color-#{nth($value, 1)}-hover-bd:hover {
			& {
				border: 1px solid white;
				border-color: nth($value, 2) !important;
			}
	   }


}
