
$fondo: #CDF0FF;

$texto: #01141C;


$primario: #0D4EB5;

$primario1: #062D6C;
$primario2: #093B8A;
$primario3: #2B64BF;
$primario4: #4F7DC7;


$secundarioA: #00BB66;

$secundarioA1: #00713E;
$secundarioA2: #00904F;
$secundarioA3: #00BB66;
$secundarioA4: #44CC8E;

$secundarioB: #450FBA;

$secundarioB1: #280770;
$secundarioB2: #350B8F;
$secundarioB3: #5D2EC3;
$secundarioB4: #7751CB;


$terciarioA: #A3F100;

$terciarioA1: #689900;
$terciarioA2: #85C400;
$terciarioA3: #B0F324;
$terciarioA4: #C0F451;

$terciarioB: #C30098;

$terciarioB1: #77005D;
$terciarioB2: #980077;
$terciarioB3: #CB1EA5;
$terciarioB4: #D246B3;


$complementario: #FFA200;

$complementario1: #A36800;
$complementario2: #D18500;
$complementario3: #FFB026;
$complementario4: #FFC155;




$neutral: #35393F;

$neutral1: #121821;
$neutral2: #181B1F;
$neutral3: #52565E;
$neutral4: #6F757D;

$acento: #ED0044;

$acento1: #9D002D;
$acento2: #C80039;
$acento3: #EE2961;
$acento4: #F15582;
