$color-background: #34C0D4;
$color-text: #180B00;


$color-primary-0: #44CEDB;	// Main Primary color */
$color-primary-1: #DEFAFD;
$color-primary-2: #80E3ED;
$color-primary-3: #11B6C5;
$color-primary-4: #01737D;

$color-secondary-1-0: #4AADDE;	// Main Secondary color (1) */
$color-secondary-1-1: #DFF3FD;
$color-secondary-1-2: #85CCEE;
$color-secondary-1-3: #188FC8;
$color-secondary-1-4: #055A82;

$color-secondary-2-0: #43DFBC;	// Main Secondary color (2) */
$color-secondary-2-1: #DEFDF6;
$color-secondary-2-2: #80EED6;
$color-secondary-2-3: #10CAA1;
$color-secondary-2-4: #008567;



$color-tertiary-1-0: #625BE3;	// Main tertiary color (1) */
$color-tertiary-1-1: #E4E2FD;
$color-tertiary-1-2: #9691F1;
$color-tertiary-1-3: #352CD2;
$color-tertiary-1-4: #181190;

$color-tertiary-2-0: #52C600;	// Main tertiary color (2) */
$color-tertiary-2-1: #99EC5E;
$color-tertiary-2-2: #68E90C;
$color-tertiary-2-3: #3C9000;
$color-tertiary-2-4: #1E4800;

$color-neutral-0: #B8ADBF;	// Main Secondary color (1) */
$color-neutral-1: #FFFFFF;
$color-neutral-2: #ECEAED;
$color-neutral-3: #877196;
$color-neutral-4: #5D3C73;

$color-complement-0: #FFA14C;	// Main Complement color */
$color-complement-1: #FFEEE0;
$color-complement-2: #FFC089;
$color-complement-3: #FF8214;
$color-complement-4: #CE6100;


$color-accent-0: #A6E300;	// Main accent color */
$color-accent-1: #DAF88A;
$color-accent-2: #C3F340;
$color-accent-3: #78A300;
$color-accent-4: #435C00;
