
$color-background: #FFF2DA;

$color-text: #001017;


$color-primary-0: #FFAB4D;	// Main Primary color */
$color-primary-1: #FFF0DF;
$color-primary-2: #FFC88B;
$color-primary-3: #F18308;
$color-primary-4: #904C00;

$color-secondary-1-0: #FFBE4D;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF3DF;
$color-secondary-1-2: #FFD58B;
$color-secondary-1-3: #F19C08;
$color-secondary-1-4: #905B00;

$color-secondary-2-0: #FF914D;	// Main Secondary color (2) */
$color-secondary-2-1: #FFEBDF;
$color-secondary-2-2: #FFB78B;
$color-secondary-2-3: #F16108;
$color-secondary-2-4: #903700;


$color-tertiary-1-0: #4471B8;	// Main tertiary color (1) */
$color-tertiary-1-1: #DDE8F9;
$color-tertiary-1-2: #80A3DA;
$color-tertiary-1-3: #144A9F;
$color-tertiary-1-4: #08295F;

$color-tertiary-2-0: #37B599;	// Main tertiary color (2) */
$color-tertiary-2-1: #D9F9F2;
$color-tertiary-2-2: #76D8C2;
$color-tertiary-2-3: #059B7A;
$color-tertiary-2-4: #005D48;

$color-complement-0: #3C8EB2;	// Main Complement color */
$color-complement-1: #DBF0F9;
$color-complement-2: #79BBD7;
$color-complement-3: #0C6D98;
$color-complement-4: #04405A;

$color-tertiary-1-0: #B1791E;	// Main tertiary color (1) */
$color-tertiary-1-1: #FFE0AF;
$color-tertiary-1-2: #E0AB54;
$color-tertiary-1-3: #774A00;
$color-tertiary-1-4: #2B1A00;

$color-tertiary-2-0: #B11E1E;	// Main tertiary color (2) */
$color-tertiary-2-1: #FFAFAF;
$color-tertiary-2-2: #E05454;
$color-tertiary-2-3: #770000;
$color-tertiary-2-4: #2B0000;

$color-complement-0: #B15B1E;	// Main Complement color */
$color-complement-1: #FFD0AF;
$color-complement-2: #E08E54;
$color-complement-3: #773100;
$color-complement-4: #2B1200;



$color-neutral-0: #738A94;	// Main neutral color */
$color-neutral-1: #FFFFFF;
$color-neutral-2: #BFC8CC;
$color-neutral-3: #416371;
$color-neutral-4: #1A4050;

$color-accent-0: #14B7FE;	// Main accent color */
$color-accent-1: #B9E8FC;
$color-accent-2: #5CCCFC;
$color-accent-3: #01A2E7;
$color-accent-4: #025478;
