
$color-background: #FFF2DA;

$color-text: #001017;



$color-primary-0: #450016;	// Main Primary color */
$color-primary-1: #871439;
$color-primary-2: #660020;
$color-primary-3: #28000D;
$color-primary-4: #0E0005;

$color-secondary-1-0: #4C0006;	// Main secondary color (1) */
$color-secondary-1-1: #94161F;
$color-secondary-1-2: #6F0008;
$color-secondary-1-3: #2B0003;
$color-secondary-1-4: #100001;

$color-secondary-2-0: #400022;	// Main secondary color (2) */
$color-secondary-2-1: #7C124A;
$color-secondary-2-2: #5D0031;
$color-secondary-2-3: #240013;
$color-secondary-2-4: #0D0007;

$color-tertiary-1-0: #031334;	// Main tertiary color (1) */
$color-tertiary-1-1: #183165;
$color-tertiary-1-2: #081E4C;
$color-tertiary-1-3: #010A1E;
$color-tertiary-1-4: #00030B;

$color-tertiary-2-0: #4E4100;	// Main tertiary color (2) */
$color-tertiary-2-1: #988216;
$color-tertiary-2-2: #725F00;
$color-tertiary-2-3: #2D2500;
$color-tertiary-2-4: #100D00;

$color-complement-0: #214600;	// Main Complement color */
$color-complement-1: #4B8814;
$color-complement-2: #306600;
$color-complement-3: #132800;
$color-complement-4: #070E00;



$color-neutral-0: #94827D;	// Main neutral color (2) */
$color-neutral-1: #E9DDDA;
$color-neutral-2: #BBABA6;
$color-neutral-3: #6B5B55;
$color-neutral-4: #40302B;


$color-accent-0: #ED004C;	// Main accent color */
$color-accent-1: #FE0756;
$color-accent-2: #FF0051;
$color-accent-3: #CE0042;
$color-accent-4: #A10034;
